.student-container {
  max-height: 300px; 
  overflow-y: auto;
}

.student-list {
  padding: 10px;
}

.student-container::-webkit-scrollbar {
  width: 8px;
}

.student-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.student-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
